@import "tailwindcss";
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  padding: 60px 20px;
}

#hero_image img {
  width: 100%;
  height: auto;
  display: block;
}
.social{
    width: auto;
    height: 70%;
    color:#646973
}